.idea

apps/node1/elasticsearch-6.7.1/bin/
apps/node1/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node1/elasticsearch-6.7.1/data/
apps/node1/elasticsearch-6.7.1/lib/
apps/node1/elasticsearch-6.7.1/logs/
apps/node1/elasticsearch-6.7.1/modules/

apps/node2/elasticsearch-6.7.1/bin/
apps/node2/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node2/elasticsearch-6.7.1/data/
apps/node2/elasticsearch-6.7.1/lib/
apps/node2/elasticsearch-6.7.1/logs/
apps/node2/elasticsearch-6.7.1/modules/

apps/node3/elasticsearch-6.7.1/bin/
apps/node3/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node3/elasticsearch-6.7.1/data/
apps/node3/elasticsearch-6.7.1/lib/
apps/node3/elasticsearch-6.7.1/logs/
apps/node3/elasticsearch-6.7.1/modules/

apps/node4/elasticsearch-6.7.1/bin/
apps/node4/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node4/elasticsearch-6.7.1/data/
apps/node4/elasticsearch-6.7.1/lib/
apps/node4/elasticsearch-6.7.1/logs/
apps/node4/elasticsearch-6.7.1/modules/

apps/node5/elasticsearch-6.7.1/bin/
apps/node5/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node5/elasticsearch-6.7.1/data/
apps/node5/elasticsearch-6.7.1/lib/
apps/node5/elasticsearch-6.7.1/logs/
apps/node5/elasticsearch-6.7.1/modules/

apps/node6/elasticsearch-6.7.1/bin/
apps/node6/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node6/elasticsearch-6.7.1/data/
apps/node6/elasticsearch-6.7.1/lib/
apps/node6/elasticsearch-6.7.1/logs/
apps/node6/elasticsearch-6.7.1/modules/

apps/node7/elasticsearch-6.7.1/bin/
apps/node7/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node7/elasticsearch-6.7.1/data/
apps/node7/elasticsearch-6.7.1/lib/
apps/node7/elasticsearch-6.7.1/logs/
apps/node7/elasticsearch-6.7.1/modules/

apps/node8/elasticsearch-6.7.1/bin/
apps/node8/elasticsearch-6.7.1/config/elasticsearch.keystore
apps/node8/elasticsearch-6.7.1/data/
apps/node8/elasticsearch-6.7.1/lib/
apps/node8/elasticsearch-6.7.1/logs/
apps/node8/elasticsearch-6.7.1/modules/