.idea

apps/*
!apps/node1/elasticsearch-6.7.1/config/
!apps/node2/elasticsearch-6.7.1/config/
!apps/node3/elasticsearch-6.7.1/config/
!apps/node4/elasticsearch-6.7.1/config/
!apps/node5/elasticsearch-6.7.1/config/
!apps/node6/elasticsearch-6.7.1/config/
!apps/node7/elasticsearch-6.7.1/config/
!apps/node8/elasticsearch-6.7.1/config/